body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    margin-top: 10px;
}

#resultado {
    margin-top: 10px;
    font-weight: bold;
}

.normal {
    color: green;
}

.alerta {
    color: orange;
}

.perigo {
    color: red;
}
